﻿@model AzureBusinessLayer.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Blob Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog.Name)
        </dd>

        <dt>
            <label>Post Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>



<div>
    @foreach (var item in Model.Comments)
    {
        <hr />
        <small><p><i>Comment by : @item.Email</i></p></small>
        <div> @item.Description</div>
    }
</div>

<hr />


@using (Html.BeginForm("AddComment", "Posts", FormMethod.Post))
{
    @Html.HiddenFor(model => model.PostId)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.TextAreaFor(
                m => m.Comment, 5, 250,
                new RouteValueDictionary(new { @class = "control-label col-md-6" }))
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CreatedUserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedUserEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreatedUserEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
